@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Sour Gummy", sans-serif;
}
.inter-font{
  font-family: "Inter", sans-serif;
}
.lottie-animation{
    animation: lottieAnimation 4s linear infinite;
    position: absolute;
    min-height: 320px;
}

@keyframes lottieAnimation {
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}
